<% if profile.id %>
  <% form_url = profile_page(profile) %>
<% else %>
  <% form_url = profiles_page(current_user) %>
<% end %>
<%= form_for profile, url: form_url do |p| %>
  <div class="field">
    <%= p.label :name %><br/>
    <%= p.text_field :name %>
  </div>
  <div class="field">
    <%= p.label :image_other, "Profile Pic" %><br/>
    <%= p.file_field :image_other, class: "file_field" %>
    <%= p.hidden_field :image_other_cache %>
  </div>
  <div class="field">
    <%= p.label :nickname %><br/>
    <%= p.text_field :nickname %>
  </div>
  <div class="field">
    <%= p.label :description %><br/>
    <%= p.text_area :description, cols: 40, rows: 2 %>
  </div>
  <div class="field">
    <%= p.label :url %><br/>
    <%= p.text_field :url %>
  </div>
  <div id="addOther" class="actions"><%= p.submit  %>
  </div>
  <div class="edit_delete_glyphs">
    <%= link_to '', user_page(profile.user), class: "glyphicon glyphicon-remove" %>
  </div>
<% end %>
<!-- <div id="card-form-go-back"><%# link_to 'Go Back', new_profile_page(), class: "btn btn-warning" %></div> -->
