<div class="col-md-4" id="sortable">
  <div class="feedcard">

    <a href="<%=item.url %>"><img class="feedpic" src="<%= item.picture %>" alt="Picture"></a>
  <div class="feedtext">
      <p><%= item.time.localtime.strftime "%l:%M:%S %P, %A:" %><p>
  <p><%= item.text %><p>

</div>


    <% case item.profile.provider %>
    <% when 'twitter' %>
      <img class="provider_icon" <%= image_tag "twitter-icon 2.png" %>
    <% when 'google' %>
      <img class="provider_icon" <%= image_tag "google-logo.png" %>
    <% when 'youtube' %>
       <img class="provider_icon" <%= image_tag "YouTube-social-squircle_red.png" %>
    <% when 'tumblr' %>
      <img class="provider_icon" <%= image_tag "tumblr-logo.png" %>
    <% when 'linkedin' %>
      <img class="provider_icon" <%= image_tag "linkedin-icon.png" %>
    <% when 'facebook' %>
      <img class="provider_icon" <%= image_tag "facebook-icon.png" %>
    <% when 'instagram' %>
    <img class="provider_icon" <%= image_tag "ig-logo-email.png" %>
    <% when 'twitch' %>
      <img class="provider_icon" <%= image_tag "twitch-logo 3.png" %>
    <% when 'github' %>
      <img class="provider_icon" <%= image_tag "GitHub-square.png" %>
    <% when 'facebook' %>
      <img class="provider_icon" <%= image_tag "facebook-icon.png" %>
    <% end %>




</div>
</div>
