<%= form_for profile, url: "/#{current_user.username}/profiles/#{profile.id}" do |p| %>
  <div class="field">
    <%= p.label :description %><br/>
    <%= p.text_area :description, cols: 40, rows: 2 %>
  </div>
  <div id="addOther" class="actions"><%= p.submit  %>
  </div>
<% end %>
<%= link_to 'Go Back', root_path %>
