<div class="col-md-4">
  <div class="card <%= profile.provider %>" data-id="<%= profile.id %>" data-username="<%= profile.user.username %>">

    <% if profile.provider == 'other' %>
      <a href="<%=profile.url %>"><img class="profile_pic" src="<%= profile.image_other %>" alt="Profile Pic"></a>
    <% else %>
      <a href="<%=profile.url %>"><img class="profile_pic" src="<%= profile.image %>" alt="Profile Pic"></a>
    <% end %>

  <ul>
     <div class="card_names">
    <% case profile.provider %>
    <% when 'twitter' %>
      <img class="provider_icon" <%= image_tag "twitter-icon 2.png" %>
      <li class="list"><%= link_to "@#{profile.nickname}", profile.url %></li>
      <li class="list"><%= profile.short_description %></li>
    <% when 'google' %>
      <img class="provider_icon" <%= image_tag "google-logo.png" %>
      <li class="list"><%= link_to profile.name, profile.url%></li>
      <li class="list"><%= profile.short_description %></li>
    <% when 'youtube' %>
       <img class="provider_icon" <%= image_tag "YouTube-social-squircle_red.png" %>
      <li class="list"><%= link_to profile.name, profile.url %></li>
      <li class="list"><%= profile.short_description %></li>
    <% when 'tumblr' %>
      <img class="provider_icon" <%= image_tag "tumblr-logo.png" %>
      <li class="list"><%= link_to profile.nickname, profile.url %></li>
      <li class="list description"><%= profile.short_description %></li>
    <% when 'linkedin' %>
      <img class="provider_icon" <%= image_tag "linkedin-icon.png" %>
      <li><%= link_to "#{profile.first_name} #{profile.last_name}", profile.url %></li>
      <li class="list"><%= profile.short_description %></li>
    <% when 'facebook' %>
      <img class="provider_icon" <%= image_tag "facebook-icon.png" %>
      <div id="fb">
      <li class="list" id="fbPic"><%= link_to profile.name, profile.url %> </li>
      <% #if current_user.facebook_events.length > 0 %>
      <!-- <script src="http://code.jquery.com/jquery.min.js"></script> -->
      <!-- <script> -->
      <!-- $('document').ready(function() { -->
        <!-- $.getJSON() -->
          <!-- }); -->

        <!-- })
      } -->
      <% #end %>
     <div id="fbEvents"><%= profile.name %> is <%= current_user.facebook_events.first["rsvp_status"] %> : <%= link_to current_user.facebook_events.first["description"], profile.provider + ".com" + "/events/" + current_user.facebook_events.first["id"] %></div>
      <div id="facebookRecent">Most Recent Facebook Post: <p id="fbPost"><%= link_to current_user.facebook_posts.first["message"], profile.url + current_user.facebook_posts.first["id"]%><br><%= current_user.facebook_posts.first["created_time"] %></p>
      </div>

      <div id="facebookFriends"><%= profile.name%> has <%= current_user.facebook_friends_count %> Facebook friends </div>

  </div>

    <%# when 'instagram' %>
    <!-- <img class="provider_icon" <%= image_tag "ig-logo-email.png"%>
    <li class="list"><%= profile.description %></li> -->

    <% when 'twitch' %>
        <img class="provider_icon" <%= image_tag "twitch-logo 3.png" %>
      <li class="list"><%= link_to profile.name, profile.url %></li>
      <li class="list"><%= profile.short_description %></li>
      <div class="twitch-status">
        <%= render partial: 'live', locals: {profile: profile} %>
      </div>
    <% when 'github' %>
      <img class="provider_icon" <%= image_tag "GitHub-square.png" %>
      <li class="list"><%= link_to profile.name, profile.url %></li>
      <li class="list"><%= profile.short_description %></li>
    <% else %>
    <li class="list"><%= link_to profile.name, profile.url %></li>
    <% end %>

  </div>
    <!-- <li class="list"><%= link_to profile.short_description, '#' %></li> -->
      <div class="edit_delete_glyphs">
        <% if current_user && current_user == profile.user %>
            <%= link_to '', edit_profile_page(profile), class: "glyphicon glyphicon-pencil edit_profile_link glyphicon_hover" %>
            <%= link_to '', profile_page(profile), class: "glyphicon glyphicon-trash glyphicon_hover", method: :delete, data: {confirm: "Are you sure you want to delete this profile? This cannot be undone!"} %>
        <% end %>
      </div>
    </ul>
  </div>

<% if current_user && current_user == profile.user %>
  <div class="fadeInForm <%= profile.provider %>">

    <% if profile.provider == 'other' %>
      <%= render partial: 'profiles/card_form', locals: {profile: profile} %>
    <% else %>
      <%= render partial: 'profiles/provider_edit_from', locals: {profile: profile} %>
    <% end %>

  </div>
<% end %>

</div>
