<h2>Change Password</h2>

<%= form_for @user, url: "/#{@user.username}/#{@user.temp_password}" do |f| %>
 
<div class="field">
  <%= f.label :password %><br/>
  <%= f.password_field :password %>
</div>
<div class="field">
  <%= f.label :password_confirmation %><br/>
  <%= f.password_field :password_confirmation %>
</div>
<div class="actions"><%= f.submit %>
</div>
<% end %>
