<span>Find a user!</span>
<%= form_tag find_path, method: 'get' do %>
  <span class="field">
    <%= label_tag :profile_network_id %>
    <%= select_tag :profile_network_id, options_for_select(provider_list) %>
  </span>

  <span class="field">
    <%= label_tag :profile_name %>
    <%= text_field_tag :profile_name %>
  </span>

  <span class="actions"><%= submit_tag "Search" %></span>
<% end  %>
