

<!-- <h2>Sign Up</h2> -->
<%= form_for user, classname: "userForm" do |f| %>
 <% if user.errors.any? %>
  <div class="error_list">
    <h2>Form is invalid</h2>
    <ul>
      <% user.errors.full_messages.each do |message| %>
        <li class='form_error'><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="field">
  <%= f.label :username %><br/>
  <%= f.text_field :username %>
</div>
<br>
<div class="field">
  <%= f.label :name %><br/>
  <%= f.text_field :name %>
</div>
<br>
<div class="field">
  <%= f.label :email %><br/>
  <%= f.text_field :email %>
</div>
<br>
<div class="actions"><%= f.submit %>

</div>
<% end %>
