<div class="edit_page_card row">

<!-- <h2>Sign Up</h2> -->
<%= form_for user, classname: "userForm" do |f| %>
 
<div class="field">
  <%= f.label :username %><br/>
  <%= f.text_field :username, class: :edit_form_field %>
</div>
<br>
<div class="field">
  <%= f.label :name %><br/>
  <%= f.text_field :name, class: :edit_form_field %>
</div>
<br>
<div class="field">
  <%= f.label :email %><br/>
  <%= f.email_field :email, class: :edit_form_field %>
</div>
<br>
<div class="actions"><%= f.submit class: :submit_button %>

</div>
<% end %>

</div>
