

<div class="cardset">

<div class="home">
<h1>Welcome To uniD!</h1>
<h2 class="card" id="log">Log In</h2>
<h2 class="card" id="sign">Sign Up</h2>


<div class="card" id="logInDiv">
<%= render partial: "sessions/login_form" %>
<%= render partial: "sessions/resetpassword" %>
</div>
<div class="card" id="signUpDiv">
<%= render partial: "users/signup", locals: { user: @user } %>
</div>
<!-- <h2 id="forgot">Forgot Your Password</h2>
<div id="forgotPasswordDiv">

</div> -->
</div>



<div class="container">


  <div class="row">

  <div class="col-md-3 col-sm-2">

  </div>





  <a href="/auth/facebook">
    <div class="col-md-3 col-sm-4">
      <div class = "social_login_container">
      <div class="icon_container">

        <img class="login_icon"  <%= image_tag "facebook-icon.png" %>
      </div>
      <%= link_to "Connect with Facebook", "/auth/facebook" %>
    </div>
    </div>
  </a>

  <a href="/auth/twitter">
  <div class="col-md-3 col-sm-4">
    <div class = "social_login_container">
    <div class="icon_container">
        <img class="login_icon"  <%= image_tag "twitter-icon 2.png" %>
    </div>
    <%= link_to "Connect with Twitter", "/auth/twitter" %>
    </div>
    </div>
  </a>
  </div>
  <div class="col-md-3 col-sm-4">

  </div>

  <br>


  <div class="row">


    <div class="col-md-3 col-sm-2">

    </div>



  <a href="/auth/google">
    <div class="col-md-3 col-sm-4">
      <div class = "social_login_container">
      <div class="icon_container">
          <img class="login_icon"  <%= image_tag "google-logo.png" %>
      </div>
      <%= link_to "Connect with Google+", "/auth/google" %>
      </div>
    </div>
  </a>

  <a href="/auth/google">
    <div class="col-md-3 col-sm-4">
      <div class = "social_login_container">
      <div class="icon_container">
          <img class="login_icon"  <%= image_tag "linkedin-icon.png" %>
      </div>
      <%= link_to "Connect with Linkedin", "/auth/linkedin" %>
      </div>
    </div>
  </a>

  <div class="col-md-3 col-sm-2">

    </div>
    </div>
  </div>
