<!DOCTYPE html>
<html>
  <head>
    <title>Unid</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- <style>
    @import url(https://fonts.googleapis.com/css?family=Jura);
    </style> -->
    <style>
    @import url(https://fonts.googleapis.com/css?family=Raleway);
    </style>
  </head>

  <header>
    <% if current_user %>
    <div><%= image_tag(current_user.avatar_url, class: 'user_avatar') if current_user.avatar? %>
    </div>
    <h1 class="unid_username"><%= current_user.username.capitalize %></h1>
    <% else %>
      <h1 class="unid_username">Welcome to Unid</h1>
    <% end %>
    <div class="login_info">
      <% if current_user %>
      Signed in as <%= current_user.username %>. <%= link_to "Log Out", session_path("current"), method: :delete %>
      <% else  %>
      <%= link_to "Log In or Sign Up", root_path %>
      <% end %>
    </div>
    <br>
  </header>

  <body class="body">
    <ul class="navbar">
      <li class="nav-item"><%= link_to "Home", root_path %></li>
      <li class="nav-item"><%= link_to "About", root_path %></li>
    </ul>

    <% unless @homepage  %>

    <% end  %>
    <%= yield %>

    <footer class="foot">
      <ul class="footnav">
      <!--  <li class="foot-item">Item 1</li>
        <li class="foot-item">Item 2</li>
        <li class="foot-item">Item 3</li>
      </ul> -->
    </footer>
  </body>
</html>
