<div class="contact-bg">
  <h1>Contact the uniD team!</h1>

  <div class="pentagram">
      <%= image_tag "Pentagram.png", class: 'bg'%>
      <%= image_tag "ixeres.png", class: 'fg', width: 50, height: 50%>
      <%= image_tag "mahinko.png", class: 'fg', width: 50, height: 50%>
      <%= image_tag "parapax.jpg", class: 'fg', width: 50, height: 50%>
      <%= image_tag "Samiam.jpg", class: 'fg', width: 50, height: 50%>
      <%= image_tag "qduck.png", class: 'fg', width: 50, height: 50%>
      <%= image_tag "bitmaker.png", class: 'fg bitmaker', width: 50, height: 50%>
  </div>


  <p></p>


</div>
