<div class="contact-bg">
  <h1>Find out more about the uniD team!</h1>

  <div class="pentagram">
      <%= image_tag "Pentagram.png", class: 'bg'%>
      <%= image_tag "ixeres.png", class: 'fg ixeres', width: 50, height: 50%>
      <%= image_tag "mahinko.png", class: 'fg mahinko', width: 50, height: 50%>
      <%= image_tag "parapax.jpg", class: 'fg parapax', width: 50, height: 50%>
      <%= image_tag "Samiam.jpg", class: 'fg samiam', width: 50, height: 50%>
      <a href="https://github.com/quantumduck"><%= image_tag "qduck.png", class: 'fg qduck', width: 50, height: 50%></a>
      <a href="https://bitmaker.co/"><%= image_tag "bitmaker.png", class: 'fg bitmaker', width: 50, height: 50%></a>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
  </div>


  <p></p>


</div>
