<div class="card">
  <h2><%= profile.name %></h2>
  <img src="<%= profile.image %>" alt="Profile Pic">
  <ul>
    <% case profile.provider %>
    <% when 'twitter' %>
      <li>Twitter account</li>
      <li>@<%=profile.nickname%></li>
    <% when 'google' %>
      <li>Google+ account</li>
      <li><%= link_to 'profile', profile.url %></li>
    <% when 'youtube' %>
      <li>Youtube Channel</li>
      <li><%= link_to 'profile', profile.url %></li>
    <% when 'tumblr' %>
      <li>Tumblr account</li>
      <li><%= link_to profile.nickname, profile.url %></li>
    <% when 'linkedin' %>
      <li>Linkedin account</li>
      <li><%= link_to profile.name, profile.url %></li>
    <% when 'facebook' %>
      <li>Facebook account</li>
      <li><%= link_to profile.name, profile.url %></li>
    <% else %>
      <li>Other account</li>
    <% end %>
  </ul>



</div>
