<div class="card">
  <h2><%= profile.name %></h2>
  <img src="<%= profile.image %>" alt="Profile Pic">
  <ul>
    <% case profile.provider %>
    <% when 'twitter' %>
      <li>Twitter account</li>
      <li>@<%=profile.nickname%></li>
    <% when 'google' %>
      <li>Google+ account</li>
      <li><%= link_to 'profile', profile.url %></li>
    <% when 'youtube' %>
      <li>Youtube Channel</li>
      <li><%= link_to 'profile', profile.url %></li>
    <% when 'tumblr' %>
      <li>Tumblr account</li>
      <li><%= link_to profile.nickname, profile.url %></li>
    <% when 'linkedin' %>
      <li>Linkedin account</li>
      <li><%= link_to profile.name, profile.url %></li>
    <% when 'facebook' %>
      <li>Facebook account</li>
      <li><%= link_to profile.name, profile.url %></li>
    <% else %>
      <li>Other account</li>
    <% end %>
    <%= link_to 'Edit', edit_profile_page(profile) %>
| <%= link_to 'Delete', profile_page(profile), method: :delete, data: {confirm: "Are you sure you want to delete this profile? This cannot be undone!"} %>

  </ul>



</div>
