<div class="col-md-4" id="sortable">
  <div class="card <%= profile.provider %>">

    <a href="<%=profile.url %>"><img class="profile_pic" src="<%= profile.image %>" alt="Profile Pic"></a>


  <ul>
     <div class="card_names">
    <% case profile.provider %>
    <% when 'twitter' %>
      <img class="provider_icon" src="http://icons.iconarchive.com/icons/limav/flat-gradient-social/256/Twitter-icon.png" alt="Network Icon">
      <li class="list"><%= link_to "@#{profile.nickname}", profile.url %></li>
    <% when 'google' %>
      <img class="provider_icon" src="https://cdn.worldvectorlogo.com/logos/google-plus-3.svg" alt="Network Icon">
      <li class="list"><%= link_to profile.name, profile.url%></li>
    <% when 'youtube' %>
      <img class="provider_icon" src="https://www.youtube.com/yt/brand/media/image/YouTube-icon-full_color.png" alt="Network Icon">
      <li class="list"><%= link_to profile.name, profile.url %></li>
    <% when 'tumblr' %>
      <img class="provider_icon" src="https://indiesunchained.files.wordpress.com/2012/07/tumblr_lnlg3qjpxx1qzq3qh.png" alt="Network Icon">
      <li class="list"><%= link_to profile.nickname, profile.url %></li>
    <% when 'linkedin' %>
      <img class="provider_icon" src="https://cdn1.iconfinder.com/data/icons/logotypes/32/square-linkedin-256.png" alt="Network Icon">
      <li><%= link_to "#{profile.first_name} #{profile.last_name}", profile.url %></li>
    <% when 'facebook' %>
      <img class="provider_icon" src="https://cdn0.iconfinder.com/data/icons/social-flat-rounded-rects/512/facebook-256.png" alt="Network Icon">
      <li class="list"><%= link_to profile.name, profile.url %></li>
    <% when 'twitch' %>
      <img class="provider_icon" src="https://www.shareicon.net/data/512x512/2015/10/04/111663_twitch_512x512.png" alt="Network Icon">
      <li class="list"><%= link_to profile.name, profile.url %></li>
      <p class='no-display' id='username'> <%=profile.name%> </p>
      <%= render partial: 'live', locals: {profile: profile} %>
    <% when 'github' %>
      <img class="provider_icon" src="https://d30y9cdsu7xlg0.cloudfront.net/png/29926-200.png" alt="Network Icon">
      <li class="list"><%= link_to profile.name, profile.url %></li>
    <% else %>
    <img class="profile_pic" src="<%= profile.image_other %>" alt="Profile Pic">
    <li class="list">Other account</li>
    <% end %>
    <% if current_user && current_user == profile.user %>
      <%= link_to 'Edit', edit_profile_page(profile) %>
      | <%= link_to 'Delete', profile_page(profile), method: :delete, data: {confirm: "Are you sure you want to delete this profile? This cannot be undone!"} %>
    <% end %>

    </div>
    <%= link_to 'Edit', edit_profile_page(profile) %>
| <%= link_to 'Delete', profile_page(profile), method: :delete, data: {confirm: "Are you sure you want to delete this profile? This cannot be undone!"} %>

    </ul>
  </div>
</div>
