<div class="card">
  <h2><%= profile.name %></h2>
  <img src="<%= profile.image %>" alt="Profile Pic">
  <ul>
    <% case profile.provider %>
    <% when 'twitter' %>
      <li>Twitter account</li>
      <li>@<%=profile.nickname%></li>
    <% when 'google_oauth2' %>
      <li>Google account</li>
    <% else %>
      <li>Other account</li>
      <li>profile.url</li>
    <% end %>
    <%= link_to 'Edit', edit_user_profile_path(current_user) %>
| <%= link_to 'Delete', [@user, profile], method: :delete, data: {confirm: "Are you sure you want to delete this profile? This cannot be undone!"} %>
  </ul>

</div>
