<h1>Users#edit</h1>

<%= form_for @profile, url: user_profiles_path(@user.username) do |p| %>
  <div class="username">
    <%= p.label :username %><br/>
    <%= p.text_field :username %>
  </div>
  <div class="field">
    <%= p.label :name %><br/>
    <%= p.text_field :name %>
  </div>
  <div class="field">
    <%= p.label :description %><br/>
    <%= p.text_field :description %>
  </div>
  <div class="field">
    <%= p.label :url %><br/>
    <%= p.text_field :url %>
  </div>
  <div class="field">
    <%= p.label :network %><br/>
    <%= p.text_field :network %>
  </div>
  <div class="actions"><%= p.submit value: "Add Card" %>
  </div>
<% end %>
