<h1>Add some profile cards!</h1>

<%= link_to "Add Twitter Account", "/auth/twitter" %> <br>
<%= link_to "Add Google Account", "/auth/google" %> <br>
<%= link_to "Add Youtube Channel", "/auth/youtube" %> <br>
<%= link_to 'Add Linkedin Account', '/auth/linkedin' %> <br>
<%= link_to "Add Tumblr Account", "/auth/tumblr" %> <br>
<%= link_to "Add Facebook Account", "/auth/facebook" %>

<%= render partial: 'profiles/card_form', locals: {profile: @profile} %>
