<h1>Add some profile cards!</h1>

<%= link_to "Add Twitter Account", "/auth/twitter" %> <br>
<%= link_to "Add Google Account", "/auth/google" %> <br>
<%= link_to "Add Youtube Channel", "/auth/youtube" %> <br>
<%= link_to 'Add Linkedin Account', '/auth/linkedin' %> <br>
<%= link_to "Add Tumblr Account", "/auth/tumblr" %>

<%= form_for @profile, url: user_profiles_path(@user.username) do |p| %>
  <div class="field">
    <%= p.label :uid, value: "Username" %><br/>
    <%= p.text_field :uid %>
  </div>
  <div class="field">
    <%= p.label :name %><br/>
    <%= p.text_field :name %>
  </div>
  <div class="field">
    <%= p.label :description %><br/>
    <%= p.text_field :description %>
  </div>
  <div class="field">
    <%= p.label :url %><br/>
    <%= p.text_field :url %>
  </div>
  <div class="field">
    <%= p.label :provider %><br/>
    <%= p.text_field :provider %>
  </div>
  <div class="actions"><%= p.submit value: "Add Card" %>
  </div>
<% end %>
