<!-- Edit/Update User Info Page -->
<h2>Update User</h2>

<%= form_for @user do |f| %>
 <% if @user.errors.any? %>
  <div class="error_messages">
    <h2>Form is invalid</h2>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="field">
  <%= f.label :username %><br/>
  <%= f.text_field :username %>
</div>
<div class="field">
  <%= f.label :email %><br/>
  <%= f.text_field :email %>
</div>
<div class="field">
  <%= f.label :password %><br/>
  <%= f.password_field :password %>
</div>
<div class="field">
  <%= f.label :password_confirmation %><br/>
  <%= f.password_field :password_confirmation %>
</div>
<%= f.hidden_field :temp_password  %>
<div class="actions"><%= f.submit %>
</div>
<% end %>

<%= link_to "Add Twitter Account", "/auth/twitter" %> <br>
<%= link_to "Add Google Account", "/auth/google" %> <br>
<%= link_to "Add Youtube Channel", "/auth/youtube" %> <br>
<%= link_to 'Add Linkedin Account', '/auth/linkedin' %> <br>
<%= link_to "Add Tumblr Account", "/auth/tumblr" %> <br>
<%= link_to "Add Facebook Account", "/auth/facebook" %>

<%= render partial: 'profiles/card_form', locals: {profile: @profile} %>
