<!DOCTYPE html>
<html>
  <head>
    <title>Unid</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- <style>
    @import url(https://fonts.googleapis.com/css?family=Jura);
    </style> -->
    <style>
    @import url(https://fonts.googleapis.com/css?family=Raleway);
    </style>
  <!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script> -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- <title>Try v1.2 Bootstrap Online</title> -->
    <!-- <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/scripts/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script> -->


    </head>



<body class="body">

  <% unless @homepage %>

  <nav class="navbar navbar-default">
  <div class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/#">uniD</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="active">
        <% if current_user %>
          <li><a><%= current_user.username.capitalize %></a></li>
          <% else  %>
          <li><%= link_to "Current User", root_path, id: "login_link" %></li>
        <% end %>
        <!-- <a href="#"></%= current_user.username.capitalize %/><span class="sr-only">(current)</span></a> -->
      </li>
      <!--<li><a href="#">Link</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Separated link</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">One more separated link</a></li>
        </ul>
      </li>-->
    </ul>
    <form class="navbar-form navbar-left">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Find a contact">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
    <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li>Signed in as <%= link_to current_user.username.capitalize, "/#", class: :smalltext %></li>
          <% else %>
          <li><%= link_to "Log In or Sign Up", root_path, id: "login_link" %></li>
        <% end %>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-cog"></span> <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><%= link_to "Edit", "/#{current_user.username}/edit" %></li>
          <li><a href="#">Preferences</a></li>
          <li><a href="#">Settings</a></li>
          <li role="separator" class="divider"></li>
          <li><%= link_to "Log Out", session_path("current"), method: :delete %></li>
        </ul>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  </nav>

  <!-- <nav class = "navbar navbar-default" role = "navigation">

    <div class = "navbar-header">
       <button type = "button" class = "navbar-toggle"
          data-toggle = "collapse" data-target = "#example-navbar-collapse">
          <span class = "sr-only">Toggle navigation</span>
          <span class = "icon-bar"></span>
          <span class = "icon-bar"></span>
          <span class = "icon-bar"></span>
       </button>

       <a class = "navbar-brand" href = "#">uniD</a>
    </div>

    <div class = "collapse navbar-collapse" id = "example-navbar-collapse">

       <ul class = "nav navbar-nav">
          <li class = "active"><a href = "#">MY PROFILE</a></li>
          <li><a href = "#">ABOUT</a></li>

          <li class = "dropdown">
             <a href = "#" class = "dropdown-toggle" data-toggle = "dropdown">
                Rolodex
                <b class = "caret"></b>
             </a>

             <ul class = "dropdown-menu">
                <li><a href = "#">jmeter</a></li>
                <li><a href = "#">EJB</a></li>
                <li><a href = "#">Jasper Report</a></li>

                <li class = "divider"></li>
                <li><a href = "#">Separated link</a></li>

                <li class = "divider"></li>
                <li><a href = "#">One more separated link</a></li>
             </ul>

          </li>

       </ul>
    </div>

 </nav> -->

    <!-- <div class="nav">
      <div class="container">
        <ul class="pull-left">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "About", root_path %></li>
          </ul>
          <ul class="pull-right">
          <% if current_user %>
            <li>Signed in as <%= current_user.username.capitalize %> </li>
            <% else  %>
            <li><%= link_to "Log In or Sign Up", root_path, id: "login_link" %></li>
          <% end %>
            <li><%= link_to "Log Out", session_path("current"), method: :delete %></li>

        </ul>
      </div>
    </div> -->

<% end  %>

  <% if flash[:notice] %>
    <p class="flash_notice"><%= flash[:notice] %></p>
  <% end %>
  <% if flash[:alert] %>
    <!-- <p class="flash_error"><%= flash[:alert] %></p> -->
    render html: "<script>alert('<%= flash[:alert] %>')</script>".html_safe
  <% end %>

    <div id="signUpLayout" class="fadeInForm">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a class='form_close', href='#'>x</a>
    <%= render partial: "users/signup", locals: {user: new_user} %>
    </div>

    <div id="logInLayout" class="fadeInForm">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a class='form_close', href='#'>x</a>
    <%= render partial: "sessions/login_form" %>
    </div>

    <%= yield %>


    <footer class="foot">
      <ul class="footnav">
      <!--  <li class="foot-item">Item 1</li>
        <li class="foot-item">Item 2</li>
        <li class="foot-item">Item 3</li>
      </ul> -->
    </footer>
  </body>
</html>
