<!DOCTYPE html>
<html>
  <head>
    <title>uniD</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <!-- <style>
    @import url(https://fonts.googleapis.com/css?family=Jura);
    </style> -->
    <style>
    @import url(https://fonts.googleapis.com/css?family=Raleway);
    @import url(https://fonts.googleapis.com/css?family=Orbitron);
    </style>
  <!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script> -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- <title>Try v1.2 Bootstrap Online</title> -->
    <!-- <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/scripts/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script> -->


    </head>



<body class="body">

  <% unless @homepage %>

  <!-- <div id="panel-example">
    <h2>Whatever you want in your panel</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, blanditiis.</p>
  </div> -->

  <a id="unid-logo" href="/#">uniD</a>
  <nav class="navbar navbar-inverse navbar-fixed-left">
  <div>
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <!--  -->
  <!--  -->
  <div>
    <ul class="nav navbar-inverse">
      <li class="active">
          <a>
            <%= @unidname.capitalize %>
          </a>
      </li>
      <div>
      <li>
        <%= image_tag(@user.avatar_url, class: :avatar) if @user.avatar?%>
      </li>
    </div>
    </ul>

    <div class="sidebar-links">
    <% if current_user %>
      <list id="sidebar-list">
        <%= link_to "Edit Your Profile", "/#{current_user.username}/edit" %>
      </li>
    <% else %>
    <% end %>
    <li id="sidebar-list">
      <a href="#">Settings</a>
    </li>
    <li id="sidebar-list">
      <a href="#">Preferences</a>
    </li>
    <li role="separator" class="divider"></li>
    <% if current_user %>
      <li id="sidebar-list">
        <%= link_to "Log Out", session_path("current"), method: :delete %><span class="glyphicon glyphicon-log-out"></span>
      </li>
    <% else %>
      <li id="sidebar-list">
        <%= link_to "Log In or Sign Up", root_path, id: "login_link"%>
      </li>
    <% end %>
  </div>

        <%= render partial: 'users/search' %>

    <div class="toggle_search">
      <span class='glyphicon glyphicon-search'></span>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li>Signed in as <%= link_to current_user.username.capitalize, "/#", class: :smalltext %></li>
          <% else %>
          <li><%= link_to "Log In", root_path, id: "login_link", class: :smalltext %> or <%= link_to "Sign Up", root_path, id: "signup_link", class: :smalltext %></li>
        <% end %>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-cog"></span> <span class="caret"></span></a>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  </nav>

  <!-- <nav class = "navbar navbar-default" role = "navigation">

    <div class = "navbar-header">
       <button type = "button" class = "navbar-toggle"
          data-toggle = "collapse" data-target = "#example-navbar-collapse">
          <span class = "sr-only">Toggle navigation</span>
          <span class = "icon-bar"></span>
          <span class = "icon-bar"></span>
          <span class = "icon-bar"></span>
       </button>

       <a class = "navbar-brand" href = "#">uniD</a>
    </div>

    <div class = "collapse navbar-collapse" id = "example-navbar-collapse">

       <ul class = "nav navbar-nav">
          <li class = "active"><a href = "#">MY PROFILE</a></li>
          <li><a href = "#">ABOUT</a></li>

          <li class = "dropdown">
             <a href = "#" class = "dropdown-toggle" data-toggle = "dropdown">
                Rolodex
                <b class = "caret"></b>
             </a>

             <ul class = "dropdown-menu">
                <li><a href = "#">jmeter</a></li>
                <li><a href = "#">EJB</a></li>
                <li><a href = "#">Jasper Report</a></li>

                <li class = "divider"></li>
                <li><a href = "#">Separated link</a></li>

                <li class = "divider"></li>
                <li><a href = "#">One more separated link</a></li>
             </ul>

          </li>

       </ul>
    </div>

 </nav> -->


<% end  %>

<div id="flash-notice", class="no-display">
  <% if flash[:notice] %>
    <%= flash[:notice] %>
  <% end %>
</div>
<div id="flash-alert", class="no-display">
  <% if flash[:alert] %>
    <%= flash[:alert] %>
  <% end %>
</div>

    <div id="signUpLayout" class="fadeInForm">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a class='form_close', href='#'>x</a>
    <%= render partial: "users/signup", locals: {user: new_user} %>
    </div>

    <div id="logInLayout" class="fadeInForm">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a class='form_close', href='#'>x</a>
    <%= render partial: "sessions/login_form" %>
    </div>

    <%= yield %>


    <footer class="foot">
      <ul class="footnav">

      </ul>
    </footer>
  </body>
</html>
