<!DOCTYPE html>
<html>
  <head>
    <title>uniD</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'jquery.slidereveal.min' %>


    <style>
    @import url(https://fonts.googleapis.com/css?family=Raleway);
    @import url(https://fonts.googleapis.com/css?family=Orbitron);
    </style>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://apis.google.com/js/platform.js"></script>
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>

    </head>

<body class="body">

  <div id="fb-root"></div>
<script>
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>


  <div class="signin_status">
    <% if current_user %>
      Signed in as <%= link_to current_user.username.capitalize, "/#" %>
    <% else %>
      <%= link_to "Log In", root_path, id: "login_link", class: :smalltext %> or <%= link_to "Sign Up", root_path, id: "signup_link" %>
    <% end %>
      <a id="unid-logo" href="/#">uniD</a>
  </div>
  <% unless @homepage %>


  <!-- Removed when implementing slider nav overlay. -->
  <!-- <nav class="navbar navbar-inverse navbar-fixed-left"> -->


  <div class="container-fluid" id="slider">
  <div class="handle">
  <button id="slidetrigger"><span class="glyphicon glyphicon-chevron-right">
  </span></button>
  </div>
  <nav class="navbar navbar-inverse navbar-fixed-left">
  <div>
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <!--  -->
  <!--  -->
  <div>
    <div class="sidebar-links">
        <h1 class="unidname"><%= @unidname.capitalize %></h1>
    </div>

        <%= image_tag(@avatar, class: :avatar)%>



      <div class="bio">
        <%= @user_bio  %>
      </div>
    <div class="sidebar-links">
    <% if current_user %>
      <li class="sidebar-list">
        <%= link_to "Edit Your Profile", "/#{current_user.username}/edit" %>
      </li>
    <% else %>
    <% end %>
    <li role="separator" class="divider"></li>
    <% if current_user %>
      <li class="sidebar-list">
        <%= link_to "Log Out", session_path("current"), method: :delete %><span class="glyphicon glyphicon-log-out"></span>
      </li>
    <% else %>
      <li class="sidebar-list">
        <%= link_to "Log In or Sign Up", root_path, id: "login_link"%>
      </li>
    <% end %>
  </div>

        <%= render partial: 'users/search' %>

    <div class="toggle_search">
      <span class='glyphicon glyphicon-search'></span>
    </div>
    <ul class="nav navbar-nav navbar-right">
    </ul>
  </div><!-- /.navbar-collapse -->
</div>
  </div><!-- /.container-fluid -->
</div>
  </nav>


  <!-- <nav class = "navbar navbar-default" role = "navigation">

    <div class = "navbar-header">
       <button type = "button" class = "navbar-toggle"
          data-toggle = "collapse" data-target = "#example-navbar-collapse">
          <span class = "sr-only">Toggle navigation</span>
          <span class = "icon-bar"></span>
          <span class = "icon-bar"></span>
          <span class = "icon-bar"></span>
       </button>

       <a class = "navbar-brand" href = "#">uniD</a>
    </div>

    <div class = "collapse navbar-collapse" id = "example-navbar-collapse">

       <ul class = "nav navbar-nav">
          <li class = "active"><a href = "#">MY PROFILE</a></li>
          <li><a href = "#">ABOUT</a></li>

          <li class = "dropdown">
             <a href = "#" class = "dropdown-toggle" data-toggle = "dropdown">
                Rolodex
                <b class = "caret"></b>
             </a>

             <ul class = "dropdown-menu">
                <li><a href = "#">jmeter</a></li>
                <li><a href = "#">EJB</a></li>
                <li><a href = "#">Jasper Report</a></li>

                <li class = "divider"></li>
                <li><a href = "#">Separated link</a></li>

                <li class = "divider"></li>
                <li><a href = "#">One more separated link</a></li>
             </ul>

          </li>

       </ul>
    </div>

 </nav> -->


<% end  %>

<div id="flash-notice", class="no-display">
  <% if flash[:notice] %>
    <%= flash[:notice] %>
  <% end %>
</div>
<div id="flash-alert", class="no-display">
  <% if flash[:alert] %>
    <%= flash[:alert] %>
  <% end %>
</div>

    <div id="signUpLayout" class="fadeInForm">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a class='form_close', href='#'>x</a>
    <%= render partial: "users/signup", locals: {user: new_user} %>
    </div>

    <div id="logInLayout" class="fadeInForm">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a class='form_close', href='#'>x</a>
    <%= render partial: "sessions/login_form" %>
    </div>

    <%= yield %>


    <footer class="foot">
      <ul class="footnav">

      </ul>
    </footer>
  </body>
</html>
